nav {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
nav ul {
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}
nav ul h1 {
  position: relative;
  font-size: 2em;
  text-shadow: 0px 0px 6px #000000;
  margin: 25px 0 25px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  width: 200px;
  border-radius: 20px;
  color: transparent;
  border: 2px solid transparent;
  overflow: hidden;
  box-shadow: 0 0 30px 0px black;
  cursor: pointer;
}
nav ul h1::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #a3a8df;
  content: "";
  top: 0;
  left: 0;
  transform: skewY(-23deg) translate(0, -200%);
  -webkit-animation: flash 8s linear 1s infinite;
          animation: flash 8s linear 1s infinite;
  transition: opacity 0s;
  background: linear-gradient(0deg, #a3a8df 0%, #a3a8df 3%, rgba(163, 168, 223, 0.1960784314) 5%, rgba(0, 0, 0, 0) 100%);
}
nav ul li:hover {
  --color: rgb(86, 240, 196);
}
nav ul li:hover h1 {
  margin: 50px 0 50px;
  background: rgba(0, 0, 0, 0.5);
}
nav ul li:active {
  --color: rgb(240, 222, 86);
}
nav ul li:active h1 {
  background: rgba(240, 222, 86, 0.5);
}
nav ul li:active h1, nav ul li:hover h1 {
  border: 2px solid var(--color);
  box-shadow: 0 0 15px -1px var(--color);
  text-shadow: 0px 0px 19px var(--color);
  color: var(--color);
}

@media screen and (max-width: 480px) {
  nav ul h1 {
    border: 2px solid rgb(86, 240, 196);
    box-shadow: 0 0 15px -1px rgb(86, 240, 196);
    text-shadow: 0px 0px 19px rgb(86, 240, 196);
    margin: 50px 0 50px;
    background: rgba(0, 0, 0, 0.6666666667);
    padding: 10px 0;
    width: 200px;
    border-radius: 20px;
    color: rgb(86, 240, 196);
    cursor: pointer;
  }
  nav ul h1.disabled {
    text-shadow: 0px 0px 6px #000000;
    margin: 25px 0 25px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    width: 200px;
    border-radius: 20px;
    color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
  }
}
.modals {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  border-radius: 25px;
  border: 2px solid rgb(86, 240, 196);
  box-shadow: 0 0 15px -5px rgb(86, 240, 196);
  text-shadow: 0px 0px 19px rgb(74, 202, 0);
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.33s ease-in-out 0.48s;
  transform: translate(0, 0);
  overflow: hidden;
}
.modals.disabled {
  transform: translate(-104%, 0);
}
.modals.active {
  border: 2px solid rgb(240, 222, 86);
  box-shadow: 0 0 15px -1px rgb(240, 222, 86);
}
.modals .modal {
  display: block;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
}
.modals .modal.hidden {
  display: none;
}
.modals .modal h1 {
  font-size: 2em;
  margin-top: 9px;
  color: #a3a8df;
}
.modals .modal div p {
  padding: 5px 20px 20px;
  font-size: 1em;
}
.modals .modal div h1 {
  font-size: 1.5em;
}
.modals .modal .left,
.modals .modal .right {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 42%;
  height: 92%;
  position: absolute;
  top: 4%;
  transition: transform 0.67s ease-in-out, background 0.3s linear;
}
.modals .modal .left {
  left: 4%;
}
.modals .modal .left.hidden {
  transform: translate(0, -108%);
}
.modals .modal .right {
  left: 54%;
}
.modals .modal .right.hidden {
  transform: translate(0, 108%);
}

@media screen and (max-width: 480px) {
  .modals .close {
    background: rgba(86, 240, 196, 0.3);
    border: 2px solid rgb(86, 240, 196);
    box-shadow: 0 0 15px -1px rgb(86, 240, 196);
    text-shadow: 0px 0px 19px rgb(86, 240, 196);
    color: rgb(86, 240, 196);
  }
  .modals .close:hover,
.modals .close:active {
    border: 2px solid rgb(240, 222, 86);
    box-shadow: 0 0 15px -1px rgb(240, 222, 86);
    text-shadow: 0px 0px 19px rgb(240, 222, 86);
    background: rgba(240, 222, 86, 0.5);
    color: rgb(240, 222, 86);
  }
  .modals .modal {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 100%;
  }
  .modals .modal .left,
.modals .modal .right {
    box-sizing: border-box;
    width: 96%;
    height: 46%;
    position: absolute;
    left: 2%;
    transition: transform 0.67s ease-in-out, background 0.3s linear;
  }
  .modals .modal .left {
    top: 2%;
  }
  .modals .modal .right {
    top: 52%;
  }
  .modals .modal .left.hidden {
    top: 2%;
    transform: translate(-108%, 0);
  }
  .modals .modal .right.hidden {
    top: 52%;
    transform: translate(108%, 0);
    border-radius: 100px 25px 25px 25px;
  }
}
.close {
  position: absolute;
  right: -2px;
  top: -2px;
  font-size: 30px;
  line-height: 45px;
  border: 2px solid rgb(86, 240, 196);
  box-shadow: 0 0 15px -5px rgb(86, 240, 196);
  text-shadow: 0px 0px 19px rgb(86, 240, 196);
  border-radius: 50%;
  padding: 0px;
  width: 50px;
  height: 50px;
  color: rgb(86, 240, 196);
  background: rgba(0, 0, 0, 0.2);
}

.close:hover {
  cursor: pointer;
  background: rgba(240, 222, 86, 0.3);
  color: rgb(240, 222, 86);
  border: 2px solid rgb(240, 222, 86);
}

.close:active {
  cursor: pointer;
  background: rgba(86, 240, 196, 0.3);
  border: 2px solid rgb(86, 240, 196);
  box-shadow: 0 0 15px -5px rgb(86, 240, 196);
  text-shadow: 0px 0px 19px rgb(86, 240, 196);
  color: rgb(86, 240, 196);
}

@-webkit-keyframes flash {
  0% {
    display: block;
    transform: skewY(-23deg) translate(0, -180%);
    border-bottom: 1px solid #a3a8df;
    opacity: 0;
  }
  1% {
    transform: skewY(-23deg) translate(0, -180%);
    opacity: 0;
  }
  12.5% {
    transform: skewY(-23deg) translate(0, 0%);
    opacity: 1;
    border-bottom: 1px solid #a3a8df;
  }
  25% {
    transform: skewY(-23deg) translate(0, 150%);
    opacity: 1;
    border-bottom: 1px solid #a3a8df;
  }
  37% {
    transform: skewY(-23deg) translate(0, 200%);
    opacity: 0;
    border-bottom: 1px solid #a3a8df;
  }
  100% {
    transform: skewY(-23deg) translate(0, 240%);
    opacity: 0;
    display: none;
  }
}

@keyframes flash {
  0% {
    display: block;
    transform: skewY(-23deg) translate(0, -180%);
    border-bottom: 1px solid #a3a8df;
    opacity: 0;
  }
  1% {
    transform: skewY(-23deg) translate(0, -180%);
    opacity: 0;
  }
  12.5% {
    transform: skewY(-23deg) translate(0, 0%);
    opacity: 1;
    border-bottom: 1px solid #a3a8df;
  }
  25% {
    transform: skewY(-23deg) translate(0, 150%);
    opacity: 1;
    border-bottom: 1px solid #a3a8df;
  }
  37% {
    transform: skewY(-23deg) translate(0, 200%);
    opacity: 0;
    border-bottom: 1px solid #a3a8df;
  }
  100% {
    transform: skewY(-23deg) translate(0, 240%);
    opacity: 0;
    display: none;
  }
}
* {
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  transition: all 0.3s linear;
}

html,
body {
  height: 100%;
  color: beige;
  background: #322c78;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-image: url(../assets/bcg.jpg);
  background-position: bottom;
  background-size: cover;
}
.wrapper::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #a3a8df;
  content: "";
  top: 0;
  left: 0;
  transform: skewY(-23deg) translate(0, -200%);
  -webkit-animation: flash 8s linear 1s infinite;
          animation: flash 8s linear 1s infinite;
  transition: opacity 0s;
  background: linear-gradient(0deg, #a3a8df 0%, #a3a8df 3%, rgba(163, 168, 223, 0.1960784314) 5%, rgba(0, 0, 0, 0) 100%);
}/*# sourceMappingURL=style.css.map */