@import "nav";
@import "main";
@import "animation";
@import "mixins";


* {
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  text-align: center;
  transition: all 0.3s linear;
}

html,
body {
  height: 100%;
  color: beige;
  background: #322c78;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-image: url(../assets/bcg.jpg);
  background-position: bottom;
  background-size: cover;
  &::before {
    @include gradient_flash();
  }
}
